
<h3 class="about" >@ViewBag.Message</h3>


<blockquote>
    <p>
        We are a small family buisness that specialises in super jeep tours. We love showing our fairytale-like country we call Iceland. But what we like most of all is taking you to places regular cars or even 4x4 cannot reach. We have a specially modified super jeep that can get you just about anywhere.
        So take a leap, join us for an adventurous tour, and start crossing of that bucket list.
    </p>
</blockquote>