
@{
    ViewBag.Title = "BookSouthCoast";
}


<div class="container">
<div id="bokun-w6302_a02c385d_65b2_47f5_adc2_af9f44b51361">Loading...</div>
<script type="text/javascript">
var w6302_a02c385d_65b2_47f5_adc2_af9f44b51361;
(function(d, t) {
  var host = 'widgets.bokun.io';
  var frameUrl = 'https://' + host + '/widgets/6302?bookingChannelUUID=128274f2-f015-4da0-9060-4d98701fdbb3&amp;activityId=14671&amp;lang=en&amp;ccy=ISK&amp;hash=w6302_a02c385d_65b2_47f5_adc2_af9f44b51361';
  var s = d.createElement(t), options = {'host': host, 'frameUrl': frameUrl, 'widgetHash':'w6302_a02c385d_65b2_47f5_adc2_af9f44b51361', 'autoResize':true,'height':'','width':'100%', 'minHeight': 0,'async':true, 'ssl':true, 'affiliateTrackingCode': '', 'transientSession': true, 'cookieLifetime': 43200 };
  s.src = 'https://' + host + '/assets/javascripts/widgets/embedder.js';
  s.onload = s.onreadystatechange = function() {
    var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
    try {
      w6302_a02c385d_65b2_47f5_adc2_af9f44b51361 = new BokunWidgetEmbedder(); w6302_a02c385d_65b2_47f5_adc2_af9f44b51361.initialize(options); w6302_a02c385d_65b2_47f5_adc2_af9f44b51361.display();
    } catch (e) {}
  };
  var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');
</script>
    </div>