
@{
    ViewBag.Title = "More";
}




<a href="http://magazine.nedla.sg/haukur-thorsteinsson-life-on-the-off-road/" target = "_blank">
    <img class="img-responsive article" src="~/Content/article.png" alt="Hawk the Beard Tours" />
     </a>
<h3>An article written about Hawk the Beard</h3>
<!--

<button type="button" onclick="window.open('http://magazine.nedla.sg/haukur-thorsteinsson-life-on-the-off-road/', '_blank')">
    <img class="article img-responsive" src="~/Content/article.png" alt="HawkTheBeard">
</button>
-->