
@{
    ViewBag.Title = "TermsAndConditions";
}



<h2>GENERAL CONDITIONS</h2>
<p>
Hawk the beard disclaims responsibility for any loss, damage, accidents, sickness or changes in schedules caused by weather, strikes or any other irregularity outside Hawk the beard‘s control. Hawk the beard reserves the right to alter routes, itineraries or departure times, without prior notice, should the necessity arise. In case of any changes in flights (domestic and international), the passenger has to pay any additional cost caused by this, at the time the service is provided (extra hotel nights, meals, transfers etc). We advise all clients to have insurance, as clients are on their own responsibility on optional tours.
</p>
<p>
Hawk the beard reserves the right to alter routes, itineraries or timetables should the necessity arise, including irregularities due to adverse weather or road conditions. No responsibility is taken for losses or expenses due to delay or changes of flights, injury, damaged, negligence, weather, war or other unforeseeable causes. The estimated duration of tours as indicated on our website are standard times and can vary according to road or weather conditions. Punctuality is a key objective in Hawk the beard‘s operation. However, delays may occur for unforeseen reasons. The company cannot be made responsible for losses that a passenger may face due to delay, regardless whether the loss is direct or indirect.
</p>
<h3>
CANCELLATION
</h3>
<p>
Cancellations shall be made by phone or email with as much notice as possible. In accordance with business practices in Iceland, we reserve the right to charge cancellation fees as follows:

•     A 90% refund if cancellation is made at least 14 days prior to departure

•     A 50% refund if cancellation is made at least 7 days prior to departure

•     No refund if cancellation is made within 48 hours of departure

•     No-show at pickup: no refund
</p>
<h3>
INSURANCE
</h3>
<p>
We at Hawk the beard advise all of our clients to purchase insurance before taking any of its tours.
</p>
<h3>
NO LIABILITY
</h3>
<p>
Neither we, nor our directors, owners, employees, contractors and agents shall be responsible or liable for, and the traveler forever and unconditionally releases all of the foregoing persons and entities from and in respect of any personal injury, death, property damage, inconvenience, loss of time, delays, or any other loss or damage, direct or indirect, which the traveler or other persons accompanying the traveler or their property may suffer or sustain as a result of or arising from:

•     participating in the travel package and any events or activities in conjunction with the travel packages; or

•     failure on the traveler’s part to make timely payments to us or any other service provider; or

•     any act, omission or negligence of any direct air carrier, motor coach company, hotel or any other person or company providing any

•     accommodation or event or activity or other goods and services in conjunction with the travel package or

•     cancellation of flight or other travel arrangements; or

•     theft, accident or mechanical breakdown; or

•     weather or other forces of nature, acts of God, government action, civil unrest, strikes, and any other causes beyond our control.
</p>
<h3>
Photographs, videos or films
</h3>
<p>
By participaiting in the trip, the traveler agrees that we, or our contractors, may use any photographic, video or film, taken by us, or our contractors for promotional and/or commercial purposes, without any remuneration to the traveler. The traveler assigns to us all right, title and interest traveler may have in or to any media in wich traveler’s name or likeness might be used by us. Traveler agrees that we may use for promotional and/or commercial purposes without any remuneration to the traveler any testimonials the traveler may provide to us and for that purpose traveler assigns to us all rights to such testimonials.
</p>
<h3>
Disagreements and Jurisdiction
</h3>
<p>
Hawk the beard is an Icelandic tour operator, authorized by the Icelandic Tourist Board. Should any disagreement arise, it will be settled in Icelandic courts according to Icelandic law.
</p>